* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
.navigation ul {
    text-align: center;
}

.navigation li {
    padding: 20px 30px;
    letter-spacing: 2px;
    font-size: 20px;
}

.navigation li.word {
    color: orangered;
    font-size: 35px;
    font-weight: bold;
    }
#banner {
    background-image: url(tiger.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
    border-top: 6px solid orangered;
    border-bottom: 6px solid orangered;
}
 h1 {
    font-size: 49px;
    color: orange;
    position: relative;
    text-align: center;
    letter-spacing: 2px;;
    top: 50px;
    width: 500px; 
    border: solid 3px white;  
    margin: 0 auto;
    
}

#main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 500px;
    height: 1000px;
}

h2 {
    font-size: 30px;
    color: orangered;
    margin-top: 40px;
    margin-bottom: 20px;
}

.byline {
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    color: black;
    font-size: 15px;
    color: orangered;
    font-weight: 200;
}
.article-content{
    margin-top: 40px;
}
 p {
    font-size: 18px;
    line-height: 48px;
}

.quote {
    width: 400px;
    border: 1px solid orangered;
    color: orangered;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.share  {
    position: relative;
    text-align: center;
    padding: 40px 0px;
    width: 100%;
    
}

.share a {
    border: 1px solid orangered;
    background-color: orangered;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
    border-radius: 3px;
}

.share a:hover{
    background-color:white;
}