/* GLOBAL PARAMS */

@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


body, html {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
 z-index: 5;
 font-size: 6em;
 color: white;
 font-weight: 600;
 text-align: left;
}

h2 {
 color: white; 
 font-size: 2em;
 font-family: Arial, Helvetica, sans-serif;
}


h3 {
  color: #999AA2;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}



p {
  color: #999AA2;
  line-height: 25px;
  font-family: 'Epilogue', arial, sans-serif;

}

a {
  text-decoration: none;
  color: #FFC25C;
  font-size: 1.5em;
}

/* CONTAINER */


  .container {
  height: 100vh;
  width: 100%;
  background-image: url("assets/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: -99999;
  overflow: hidden;
}

/* LEFT SIDE CONTAINER */

.left-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
 
}
.never {
  color: white;
}


.image {
  position: absolute;
  bottom: -4%;
  left: 30%;
  z-index: -100;
}

.margin-left-container {
  width: 15%;
  height: 100%;
}

.v {
  border-bottom: solid 10px #FFC25C;
  padding-bottom: 7%;
}

.circle {
  color: #FFC25C;
  font-size: 4em;
}


/* RIGHT SIDE CONTAINER */

.margin-right-container {
  height: 100%;
  width: 10%;
}

.right-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);

}


.portfolio {
  color: white; 
  font-size: 2em;
 
}

.underscore {
  color: #FFC25C;
  font-size: 1.5em;
}



.arrow {
  margin-top: 10px;
  color: #FFC25C;
  font-size: 2.5em;
  text-decoration: underline;
}

/* PRESENTATION SECTION */

.presentation {
  background-image: url("assets/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #252734;
  height: 125vh;
  display: flex;
  flex-direction: row;  
  margin: auto;
  justify-content: center;
  position: relative;
}


.left-presentation {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
  margin-top: 5%;
  width: 400px;
  text-align: justify;
}



.right-presentation {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 15%;
  width: 400px;
  text-align: justify;
}

.right-presentation a {
  border-bottom: solid 3px #FFC25C;
  font-weight: 500;
  margin-top: 25px;
  font-size: 20px;

}

.thp {
  display: flex;
  flex-direction: row; 
}

.thp a {
  margin-right: 60px;
}
.arrow-right {
  font-size: 1em;
  color: #FFC25C;
  font-weight: 700;
}



.contact  {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  /* margin-top: 20px;  */
  
}

.contact a {
  border-bottom: solid 3px #FFC25C;
  margin-right: 60px;
  font-weight: 500;
  font-size: 20px;
}

.contact span {
  padding-bottom: 4px;
}

.mail {
  margin-bottom: 20px;
}

.mail a:nth-child(1){
  padding-right: 35 px;

}
/* SQUARE */

.square {
  height: 40vh;
  width: 100%;
  position: relative;
  background-color: #333646;
}
.square p {
  color: white;
  text-align: center;
  padding: 2%;
}

.square1 {
  height: 350px;
  width: 350px;
  background-color: #424657;
  position: absolute;
  bottom: 30%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.square1:hover {
  background-color: #FFAF29;
}

.square2 {
  height: 350px;
  width: 350px;
  background-color: #424657;
  position: absolute;
  bottom: 30%;
  left: 38.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square2:hover {
  background-color: #FFAF29;
}

.square3 {
  height: 350px;
  width: 350px;
  background-color: #424657;
  position: absolute;
  bottom: 30%;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.square3:hover {
  background-color: #FFAF29;
  
}

.square span {
  margin-right: 10px;
  font-size: 0.8em;
}

/* WORKS SECTION */

.works {
  width: 100%;
  padding-top: 5%;
  background-color: #333646;
  display: flex;
  
}

.works-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15%;
}

.works-text p{
  width: 60%;
}

.works-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-right: 15%;
}

.projet {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background-color: #252734;
  margin-bottom: 50px;
  margin-top: 20%;
  
}

.projet h2 {
  color: #E9E9EB;
}
.projet h3 {
  color: #E9E9EB;
  font-size: 1em;
  font-weight: 1000;
  letter-spacing: 0px;
}

.projet p {
  color: #E9E9EB; 
  margin-left: 10px;
  text-align: center;
  font-size: 1.2em
}

.up-projet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bot-projet {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.picture {
  height: 600px;
  width: 600px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-10deg) translateY(50px) translateX(-30px); 
  
}

.epottery {
  background-image: url("assets/epottery.PNG");
  overflow: hidden;
}
.divig {
  background-image: url("assets/divig.PNG");
}

.kitty {
  background-image: url("assets/cat.PNG");
}

.mealories { 
  background-image: url("assets/mealories.PNG");
}


.sunny {
  background-image: url("assets/sunny.PNG");
}

.stay-tuned {
  color: #FFC25C;
  font-size: 1.4em;
  font-weight: 1000;
  
}



/* ANIMATION */

#reveal1 {
  opacity: 0;
  -webkit-transform: translateY(60px);
     -moz-transform: translateY(60px);
      -ms-transform: translateY(60px);
       -o-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}

#reveal1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}



#box1 {
  opacity: 0;
  -webkit-transform: translateX(-60px);
     -moz-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
       -o-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
#box1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#box2 {
  opacity: 0;
  -webkit-transform: translateX(-100px);
     -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
       -o-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
#box2.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#box3 {
  opacity: 0;
  -webkit-transform: translateX(-100px);
     -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
       -o-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
#box3.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}


#projet1 {
  opacity: 0;
  -webkit-transform: translateY(200px);
     -moz-transform: translateY(200px);
      -ms-transform: translateY(200px);
       -o-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}
#projet1.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#projet2 {
  opacity: 0;
  -webkit-transform: translateY(200px);
     -moz-transform: translateY(200px);
      -ms-transform: translateY(200px);
       -o-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}
#projet2.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

#projet3 {
  opacity: 0;
  -webkit-transform: translateY(200px);
     -moz-transform: translateY(200px);
      -ms-transform: translateY(200px);
       -o-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all 0.8s ease-out;
     -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}
#projet3.visible {
  opacity: 1;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}



/* RESPONSIV */

@media screen and (min-width: 360px) and (max-width: 1023px) {

  body {
    width: 100%;
  }

  .landing-page {
    width: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    padding-left:  20px;
    width: 100%;
  }

  .right-container  p, h3, h2:nth-child(3){
    display: none;
  }

 
  .arrow {
    display: none;
  }
  
  .margin-right-container {
    display: none;
  }
  
  .presentation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
  }

  .left-presentation {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

  .right-presentation {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items:  flex-start;
  }

  .square {
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
  }
  
  .square1 {
    margin-bottom: 15%;
    position: static;

  }
  .square2 {
    margin-bottom: 15%;
    position: static;

  }
  .square3 {
    
    position: static;

  }

  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  
  }

  .projet {
    margin: 0;
    margin-bottom: 20%;
   
  }

  .works-left  {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .works-text {
    margin-left: 10%;
    margin-bottom: 10%;
  }

  .works-right {
    width: 100%;
    
  }

  #projet1 {
    width: 100%;
    margin-bottom: 20%;
  }

  #projet2 {
    width: 100%;
    margin-bottom: 20%;
  }

  #projet3 {
    width: 100%;
    
  }
  
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  body {
    width: 100%;
  }

  .landing-page {
    width: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .right-container > p{
    display: none;
  }

  .arrow {
    display: none;
  }
  
  .margin-left-container {
    display: none;
  }
  .margin-right-container {
    display: none;
  }
  
  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
  }

  .left-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

  .right-presentation {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items:  flex-start;
  }

  .square {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 5%;
    overflow: hidden;
  }
  
  .square1 {
    overflow: hidden;
    margin-bottom: 10%;
    position: static;
    margin-right: 15px;

  }
  .square2 {
    margin-right: 15px;
    margin-bottom: 10%;
    position: static;
   }
  .square3 {
    overflow: hidden;
    position: static;
    margin-bottom: 10%;
  }

  .works {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  
  }

  .projet {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20%;
   
  }
  .works-text {
    margin-left: 10%;
    margin-bottom: 10%;   
  }

  .works-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding-left: 15%; 
  }

  .bot-projet {
    text-align: center;
  }

  #projet1 {
    margin-bottom: 20%;
  }

  #projet2 {
    margin-bottom: 20%;
  }
  
}