
.header-image {
  background-image: url(surf.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
}

i {
  font-size: 6rem;
}

